body {
    background-image: url("../images/valentin-salja-CLvkkjb-i3g-unsplash.jpg");
}

iframe {
    max-width: 100%;
}

.navbar {
    background-color: cornsilk;
}

.navbar-container {
    max-width: none;
}

.navbar-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 24px;
    color: black;
}

.nav-link {
    color: gray;
}

.content-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: none;
}